@using Teste.Extensions

@{
    ViewData["Title"] = "Secret Secreta";
}
<h1>@ViewData["Title"]</h1>

<h1>Este é um segredo secreto para todos.</h1>

@{
    // Para mostrar o conteúdo apenas se o usuário tiver a claim
    if (this.IfClaim("Produtos", "Adicionar"))
    {
        <p>Este segredo secreto só aparece para quem tem a claim necessária!</p>
    }
}

<!-- Para mostrar um HTTPContent apenas se o usuário tiver a claim -->
@Html.ActionLink("Segredito","Secret").IfClaimShow(Context, "Produtos", "Adicionar")

<br />
<!-- Desabilitar o botão caso o usuário não tenha uma certa claim -->
<button class="btn btn-primary @Html.Raw(this.IfClaimShow("Produtos", "Adicionar"))">Oieee</button>
